<h1 class="text-center mt-4"><%= @user.username %>'s Profile</h1>

<p><%= gravatar_for @user, { size: 200 } %></p>

<div class="text-center mt-4">
  <%= link_to "Edit your profile", edit_user_path(@user), class: "btn btn-outline-info" %>
</div>

<h3 class="text-center mt-5">Articles</h3>
<div class="container">
  <%= render 'articles/articles' %>
</div>
